
html {
    font-size: 10px;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

.layout {
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8EDED;
}

.layout__card {
    display: flex;
    flex-direction: row;
    max-width: 86rem;
    height: 30rem;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
}


.card__container-img{
    flex-basis: 40%;
    height: 100%;
    transition: all 300ms ease;
    position: relative;
}

.card__container-img:hover {
    transform: scale(1.1);
}

.card__content{
    flex: 1;    
    height: 100%;
    padding: 3rem 4rem;
}

.card__title{
    font-size: 2rem;
    line-height: 1.4;
    color: #3F7080;
    margin-bottom: 1.5rem;
}

.card__description {
    font-size: 1.4rem;
    color: #9897a5;
    margin-bottom: 2rem;
}

.card__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.user__container-name{
    display: flex;
    flex-direction: column;
}

.user__name{
    font-size: 1.4rem;
    color: #444;
    font-weight: 600;
}

.user__date{
    font-size: 1.4rem;
    color: #ccc;
    font-weight: 400;
}

.user__conatiner-img{
    width: 5rem;
    height: 5rem;
}

.user__img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.user__icon {
    background-color: #00A7DB;
    color: white;
    border-radius: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}